<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wecart.mapper.board.qnaboard.QnaBoardMapper">

  <select id="selectAll" resultType="org.zerock.wecart.domain.board.QnaBoard_CommentCountVO">
    SELECT a.*, coalesce(b.comment_count, 0) AS comment_count
    FROM qna_board a
    LEFT OUTER JOIN (
    SELECT post_no AS tmp, count(*) AS comment_count
    FROM qna_board_comment
    GROUP BY post_no) b 
    ON (a.post_no = b.tmp)
    <if test="type != null">
      <where>
        <choose>
          <when test="type == 'title-content'">
            a.title LIKE '%'||#{keyword}||'%'
            OR a.content LIKE '%'||#{keyword}||'%'
          </when>
          <when test="type == 'title'">
            a.title LIKE '%'||#{keyword}||'%'
          </when>
          <when test="type == 'content'">
            a.content LIKE '%'||#{keyword}||'%'
          </when>
          <when test="type == 'member_id'">
            a.member_id = #{keyword}
          </when>
        </choose>
      </where>
    </if>
    ORDER BY a.post_no DESC
    OFFSET (#{currPage}-1) * #{amount} ROWS
    FETCH NEXT #{amount} ROWS ONLY
  </select>
  
	<!-- <select id="read" resultType="org.zerock.wecart.domain.board.QnaBoardVO">
	    SELECT * FROM qna_board WHERE post_no = #{post_no}
	</select> -->



</mapper>