@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.compare_pluszero {
    color: red;

    margin-top: 5px;
    margin-bottom: 15px;
}
.compare_minus {
    color: blue;

    margin-top: 5px;
    margin-bottom: 15px;
}
.curPrice {
    color:#416276;
}
.curPrice_text {
    margin-bottom: 5px;
}