@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

#container > #section {
    display: block;
}
.goods_select {
    display: flex;
    align-items: center;
    padding: 0 46px;
    gap: 150px;
}
.checkBox {
    display: flex;
    align-items: center;
    font-weight: lighter;
}
.checkBox_img {
    display: flex;
    gap: 15px;
    align-items: center;
}
.cart_title_count {
    width: 300px;
}
.allSelectText {
    margin-left: 15px;
}
.allSelectText::after {
    content: "";
    width: 1px;
    height: 16px;
    margin-left: 10px;
    margin-right: 2px;

    background-color: rgb(204, 203, 203);
    display: inline-block;
    vertical-align: middle;
}
#allDeletebt {
    border: 0;

    font-family: 'Jeju Gothic', sans-serif;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
}
.mycart_tbl_button_flex {
    margin-bottom: 50px;

    display: flex;
    justify-content: end;
}
.todayCartSave {
	background-color: #cee9dd;
}